#Sidebar {
  width: 160px;
  background-color: #324157;
  display: flex;
  flex-direction: column;
  &.collapse {
    width: 50px;
  }
  ul {
    flex: 1;
    border-right: 0;
    background: #2d3a4b;
  }
  .el-menu {
    // padding: 0 10px;
  }
  .el-menu-item {
    width: auto;
  }
  .el-submenu__title {
    // text-indent: 15px;
    &>span {
      vertical-align: top;
    }
  }
  .el-submenu .el-menu-item {
    width: auto;
    padding-left: 30px !important;
  }
  .el-menu-item-group__title {
    display: none;
  }
  .logo {
      span {
          padding-left: 40px;
          display: inline-block;
          height: 100%;
          background: $logoBg;
          background-size: 35px auto;
      }
  }
}
